h1 {
    text-align: center;

}

.about-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    padding: 24pt;
}

.about-row {
    padding: 24pt;
    
}