h1 {
    text-align: center;

}


/* about page style */
.about-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    padding: 24pt;
}

.about-row {
    padding: 24pt;

}



/* classes page style */
.class-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    text-decoration: underline;

}

.class-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.class-contact {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 72pt;
    padding-left: 24pt;
    padding-right: 24pt;
    padding-bottom: 72pt;
}

.class-container {
    background-color: grey;
    padding: 14pt;
    padding-bottom: 14pt;
}

.contact-container {
    padding-top: 10%;
    text-align: center;
    border: 40pt;
    border-color: black;
}

.contact-container h4 {
    text-decoration: underline;

}